[Desktop Entry]
Name=midna
X-KDE-PluginInfo-Name=Midna
X-KDE-PluginInfo-Author=besthqwallpapers
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-BY
