[Desktop Entry]
Name=midna
X-KDE-PluginInfo-Name=Midna
X-KDE-PluginInfo-Author=Andreea
X-KDE-PluginInfo-Email=demm@kaosx.us
X-KDE-PluginInfo-License=LGPLv3
