[Desktop Entry]
Name=midna
X-KDE-PluginInfo-Name=Midna
X-KDE-PluginInfo-Author=Jomada
X-KDE-PluginInfo-Email=gicalucejo@gmail.com
X-KDE-PluginInfo-License=CC-BY
