[Desktop Entry]
Name=Midna Dark
Comment=The window decoration for KaOS

X-Plasma-MainScript=main.qml
X-Plasma-ServiceType=KWin/Decoration
X-KDE-PluginInfo-Author=Fabián Alexis
X-KDE-PluginInfo-Email=fabian.alexis@openmailbox.org
X-KDE-PluginInfo-Name=midnadark
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Decoration
Type=Service
