[Desktop Entry]
Name=river
X-KDE-PluginInfo-Name=River
X-KDE-PluginInfo-Author=Fabián Alexis // original photo by http://papers.co
X-KDE-PluginInfo-Email=fabian.alexis@openmailbox.org
X-KDE-PluginInfo-License=CC BY-SA 3.0
