[Desktop Entry]
Name=Midna
Name[es]=Midna
comment=Solid and clear theme for plasma
Comment[es]= Tema claro solido para plasma
X-KDE-PluginInfo-Author=KaOS
X-KDE-PluginInfo-Email=demm@kaosx.us
X-KDE-PluginInfo-Name=Midna
X-KDE-PluginInfo-Version=2.1.0
X-KDE-PluginInfo-Website=https://kaosx.us
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=plasma-desktop
X-KDE-PluginInfo-License=CC BY-ND
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=midna
defaultFileSuffix=.png
defaultWidth=3600
defaultHeight=2250
